<section class="profitez-container">
    <h3 class="profitez-container_title">Profitez de 14 jours gratuit</h3>
    <div class="profitez-container_block">
        <img class="profitez-container_block--img" src="../../assets/Cadena.png" alt="Image cadena deverouillez"><p class="profitez-container_block--text"> Aujourd’hui <span class="text-c-g3"> démarrez votre 1er entraînement gratuitement</span></p>
    </div>
    <div class="profitez-container_block">
        <img class="profitez-container_block--img" src="../../assets/Calendrier.png" alt="Image calendrier 14 jours"><p class="profitez-container_block--text"> Jour 14 <span class="text-c-g3"> abonnez-vous avec la formule de votre choix</span></p>
    </div>
</section>
