<section class="gift-container">
    <div class="gift-container_block">
        <h3 class="gift-container_block--title">Carte Cadeau</h3>
        <p class="gift-container_block--text">Que ce soit pour faire plaisir à un être cher ou pour faire plus ample connaissance avec quelqu'un, AllTrpails Pro est le cadeau idéal lorem ip</p>
        <button class="gift-container_block--btn">Obtenir une carte cadeau</button>
        <h4 class="gift-container_block--getcard">Activez ma carte cadeau <a href=""><img class="arrow-right" src="../../assets/Icon.png" alt="Fleche vers la droite"></a></h4>
    </div>
</section>
