<section id="offres">
    <div class="offres-container">
        <div class="offres-container_block">
            <div class="offres-container_block--text">
                <h1 class="title-c-w title-w">Nos offres et nos tarifs</h1>
                <br>
                <p class="text-c-g text-w">L’abonnement lorem ipsum vous permet de adipiscing elit, sed do eiusmod tempor incididunt ut labore e</p>
                <br>
                <p class="title-c-w works-w">How it works ? <a href="#tarifs"><img class="arrow-b" src="../../assets/botton-arrow.png" alt="Flêche-bas"></a></p>
            </div>
                <img class="offres-container_block--image" src="../../assets/roadmap-offers.png" alt="Illustrations parcours offres">
                </div>
        </div>
    </section>
