/* Couleurs enregistré dans des variables */
$color-backgroundblack: #1a1918;
$color-backgroundblue: #f4f7f9;
$color-titlewhite: #ffffff;
$color-textgray: #c8c8c8;
$color-textgray2: #7e8184;
$color-textgray3: #504f4f;
$color-titleblack: #1a1918;
$color-gold: #ffc947;
$color-blue: #428ff3;
$color-button-hover: #ffde79;